@model WebSiteBanHang.Models.PhanLoaiSanPham
@{
    ViewBag.Title = "Sửa thông tin danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Cập nhật danh mục sản phẩm
}
<style>
    input, select, textarea {
        width: 70%;
    }
</style>
<div class="form-horizontal">
    <h4>Nhập thông tin danh mục sản phẩm.</h4>
    @using (Html.BeginForm("Edit", "PhanLoaiSanPham", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PhanLoaiSanPhamID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TenPhanLoaiSanPham, htmlAttributes: new { @class = " col-md-3" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.TenPhanLoaiSanPham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenPhanLoaiSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = " col-md-3" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DanhMucSanPhamID, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.DanhMucSanPhamID, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DanhMucSanPhamID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input style="width:10%;" type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
